header {
    background-color: rgb(0, 139, 219);
    /*cor de fundo*/
    color: rgb(0, 6, 14);
    /*cor da fonte*/
    text-align: center;/*alinhar o texto ao centro*/
    max-width: 800px;/*largura max*/
    margin: 0 auto;
    padding: 16px;
    /*espaçamento interno*/

}

main {
    background-color: rgb(156, 224, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    /*alinhamento o texto*/
    max-width: 800px;
    /*largura maxima*/
    margin: 0 auto;
    /*espaçamento externo ao redor do elemento*/
    padding: 16px;/*espaçamento interno*/
display: flex;/*habilita o uso de flex box*/

}

footer {
    background-color: rgb(194, 219, 255);
    color: rgb(19, 0, 37);
}
img{
width: 40px;/*largura*/
height: 40px;/*altura*/


}




